body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Grenze', serif;
  /* overflow: hidden; */
}

* {
  box-sizing: inherit;
}

.container {
  max-width: 90%;
  /* border: 1px solid; */
  margin: 0 auto;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  /* border: 1px solid; */
}

.next-question {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#start-button, #next-button, #restart-button {
  font-family: 'Grenze', serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.2rem 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  /* background: red; */
  cursor: pointer;
}

.hide {
  display: none;
}

.visible {
  display: block !important;
}

.questions-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.question {
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  width: 95%;
}

.options {
  font-size: 1.4rem;
  margin: 10px auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid;
  width: 240px;
  max-width: 90%;
  text-align: center;
  cursor: pointer;
}

.answer {
  position: relative;
  margin: 30px auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid;
  width: 260px;
  max-width: 52%;
  height: 100px;
  text-align: center;
  display: none;
}

.invisible {
  visibility: hidden;
  /* font-size: 1.4rem;
  margin: 10px auto;
  padding: 0.5rem 1rem;
  /* border-radius: 1rem; */
  /* border: 1px solid transparent;
  width: 240px;
  max-width: 50%;
  text-align: center;
  color: transparent; */
}

.answer .options {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0;
}

#restart-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
